##First packages needed
python-dotenv
uvicorn[standard]
requests
streamlit

##For Cohere part we will need that
cohere
fastAPI
langchain-cohere
langchain-core
langchain
langgraph
typing_extensions
pydantic
ariadne
Flask
neo4j

streamlit
pandas
python-dotenv
numpy
uvicorn[standard]
requests
Pillow
opencv-python-headless
scikit-image
scipy

##For Cohere part we will need that
cohere
fastapi

##High-performance RAG and Vector Search
faiss-cpu
chromadb
sentence-transformers
torch
torchvision
transformers
hnswlib
clip-by-openai
pytest

git+https://github.com/openai/CLIP.git
